<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
    <sitecore>
        <settings>
            <setting name="MailServerUrl" value="https://api.moosend.com/v3/" />
            <setting name="MemberListId" value="32b8c74b-f31f-49b8-a4cc-350d004ca4a1" />
            <setting name="MooSendApiKey" value="5aa3a062-3964-4d94-9de9-30e74dd0ae70" />
        </settings>
    </sitecore>
    <services>
        <configurator type="Hack2022.Foundation.SitecoreSend.Configurator.RegisterDependencies, Hack2022.Foundation.SitecoreSend" />
    </services>
</configuration>